
html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
    
    :root {
        color-scheme: light dark;
        font-family: sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    visualscript-overlay > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    visualscript-overlay h3 {
        margin: 0;
        width: auto;
    }
      
    section {
        /* display: flex; */
        padding: 25px;
        height: 100%;
        width: 100%;
        overflow: scroll;
    }
    
    
    #start {
        z-index: 1;
    }
    
    #circles {
        position: absolute; 
        display: grid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        grid-template-columns: repeat(2,1fr);
        pointer-events: none;
        z-index: 0;
        column-gap: 20%;
    }
    
    #circles > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #circles > div > div {
        box-sizing: border-box;
        width: 100%;
        border: 2px solid cadetblue;
        border-radius: 100%;
        transition: 0.5s;
        aspect-ratio: 1/1;
    }
    
    #analyses > div {
    max-width: 400px;
    }
    
    #videos {
    width: 100%;
    }
    
    #videos video {
    max-width: clamp(0px, 400px, 100%);
    }

    #graph {
        width: 100%;
        height: 100%;
        max-height: 65vh;
    }

    #popout, #alphabet {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        /* height: 100%; */
        align-items: center;
        flex-grow: 1;
        max-height: 40vh;
        overflow: scroll;
    }

    .letter span , .container h3{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        margin: 0;
        padding: 10px;
        font-size: 80%;
        user-select: none;
        pointer-events: none;   
    }

    .letter, .container {
        flex-grow: 1;
        align-items: center; 
        justify-content: center;
        position: relative;
        margin-bottom: 10px;
    }

    .letter {
        /* width: 100%; */
    }

    .letter canvas {
        width: 200px;
        height: 200px;
        cursor: pointer;
        background: black;

        /* Flip */
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        transform: scale(1, -1);
        filter: Flip;
    }
    
    #analyses {
        display: flex;
        flex-wrap: nowrap;
    }
    
    /* .container {
    background: rgb(237, 237, 237);
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    } */
    